#sidebar {
    width: calc(20% - 5px);
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    padding: 5px;
    border: 2px solid black;
    border-radius: 6px;
    background-color: aqua;

    > h1 {
        font-size: 1.5rem;
        border-bottom: 1px solid black;
        width: 100%;
        text-align: center;
        padding-bottom: 3px;
    }
}
